@import '~antd/dist/antd.css';

.app__background{
  /* aici se poate de adaugat bg la toata pagina */
  margin: 0;
  padding: 0;
}

.app-wrapper{
  display: grid;
  width: 1280px;
  margin: 10px auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.app-wrapper-content{
    grid-area: c;
    /* background-color: white; */
  background: linear-gradient(180deg,rgb(93,155,157),#134E5E);  
  border-radius:0 0 25px 0;
}

/* .app-wrapper-content::after{
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 100;
} */

.change__mode {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.darkmode{
  background-color: transparent;
  border: none;
  width: 35px;
  position: absolute;
  left: 1.5%;
  top: 4%;
}

.darkmode img{
  width: 25px;
  cursor: pointer;
}

.darkmode img:hover{
  animation: rotate 1s ease-in-out forwards;
}

.lightmode{
  background-color: transparent;
  border: none;
  width: 35px;
  position: absolute;
  left: 4.5%;
  top: 4%;
  }
  
  .lightmode img{
    width: 25px;
    cursor: pointer;
  }

  .lightmode img:hover{
    animation: rotate 1s ease-in-out forwards;
  }
  




  @keyframes rotate{
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(-360deg);
    }
  }


